<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <%= form_with(model: @user, local: true) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
      <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, id: :user_name, class: 'form-control' %>
      <%= f.label :email, 'メールアドレス' %>
      <%= f.email_field :email, class: 'form-control' %>
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      <%= f.label :age, '年齢' %>
      <%= f.text_field :age, class: 'form-control' %>
      <%= f.label :frequency_book, '読書頻度' %><br>
      <%= f.select :frequency_book, [["ほとんど読まない", "ほとんど読まない"],["月に数回", "月に数回"], ["週1,2回程度", "週1,2回程度"],["週3~5回程度", "週3~5回程度"],  ["ほぼ毎日", "ほぼ毎日"] ],  :prompt => "選択してください", :include_blank => '未選択', class:"form-group" %><br>
      <br>
       <%= f.submit '編集完了', class: 'btn btn-primary btn-block' %>
      </div>
  </div>
<% end %>
</div>  