<!DOCTYPE html>
<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag "user/show", :media => "all" %>
    <title>プロフィール</title>
  </head>
  <body>
  <div class="container-fluid">  
    <div class="row">
      <aside class="col-sm-4">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">
              <%= @user.name %>
            </h3>
          </div>
          <div class="card-body">
            <img class="rounded img-fluid" src="<%= gravatar_url(@user, { size: 500 }) %>" alt="">
          </div>
        </div>
        <%= render 'relationships/follow_button', user: @user %>
      </aside>
      <div class="col-sm-8">
        <ul class="nav nav-tabs nav-justified mb-3">
          <li class="nav-item"><a href="<%= user_path(@user) %>" class="nav-link <%= 'active' if current_page?(user_path(@user)) %>">Microposts  <span class="badge badge-secondary"><%= @count_microposts %></span></a></li>
          <li class="nav-item"><a href="<%= followings_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(followings_user_path(@user)) %>">Followings  <span class="badge badge-secondary"><%= @count_followings %></span></a></li>
          <li class="nav-item"><a href="<%= followers_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(followers_user_path(@user)) %>">Followers  <span class="badge badge-secondary"><%= @count_followers %></span></a></li>
          <li class="nav-item"><a href="<%= likes_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(likes_user_path(@user)) %>">Likes  <span class="badge badge-secondary"><%= @counts_likes %></span></a></li>
        </ul>
        <table class=" table-bordered table-hover">
          <tbody>
            <tr linear-gradient><th scope="row">年齢</th><td><%= @user.age %></td></tr>
            <tr><th scope="row">読書頻度</th><td><%= @user.frequency_book %></td></tr>
            <tr><th scope="row">読書歴</th><td>3年</td>
            <tr><th scope="row">好きな本のジャンル</th><td>ビジネス書</td></tr>
          </tbody>
        </table>
      </div>    
      <div class="row">
        <div class="col-sm-8">
        <%= render 'microposts/microposts', microposts: @microposts %>
        </div>
      </div>
    </div>  
  </div>  
  </body> 
</html>